<!doctype html>
<html ng-app="mp-dashboard">

<head>
  <title>Food Emperors Peripheral</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/morris.js/morris.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />

  <!-- build:css(.tmp) styles/others.css -->
  <!-- Theme style -->
  <link rel="stylesheet" href="styles/AdminLTE.css">
  <!-- endbuild -->




</head>

<body class="hold-transition skin-blue sidebar-mini" ng-controller="NavbarCtrl as ctrl" ng-class="{'sidebar-collapse':ctrl.collapsemenu,'sidebar-open':ctrl.openmenu}" >

  <div class="wrapper">

    <header id="header" class="main-header">
      <!-- Logo -->
      <a class="logo" href="/">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>F</b>E</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Food</b>Emperors</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a ng-click="ctrl.switchmenu()" class="sidebar-toggle" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li ng-if="!ctrl.user">
              <a href  ng-click="ctrl.go('Login')">Login</a>
            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu" ng-if="ctrl.user">


                <a href data-toggle="dropdown"><i class="fa fa-gears dropdown-toggle"></i></a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">

                  <p>
                    {{ctrl.user.name}} {{ctrl.user.surname}}
                    <br><br>
                    <small>Lavora con noi dal Gennaio 2018</small>
                    <hr>
                    <small><a style="color: #FFFFFF" ui-sref="Gestione Account">Gestione Account </a></small>
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a ui-sref="Profilo Utente" class="btn btn-default btn-flat">Profilo</a>
                  </div>
                  <div class="pull-right">
                    <button class="btn btn-default btn-flat" ng-click="ctrl.signout()">Sign out</button>
                  </div>
                </li>
              </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->

          </ul>
        </div>
      </nav>


    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="header">SITE NAVIGATION</li>

          <li ng-repeat="menuentry in ctrl.menulist" style="cursor:pointer" ng-click="ctrl.go(menuentry.state)">
            <a ng-show="menuentry.label.toLowerCase() !==ctrl.state.current.name.toLowerCase()">
              <i class="fa {{menuentry.icon}} "></i> <span>{{menuentry.label}}</span>
            </a>
            <a ng-show="menuentry.label.toLowerCase()===ctrl.state.current.name.toLowerCase() " style="background-color:#367fa9 !important; ">
              <i class="fa {{menuentry.icon}} " style="color:white "></i> <span style="color:white ">{{menuentry.label}}</span>
            </a>
          </li>




        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height:{{ctrl.minheight}}px">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          {{ctrl.state.current.name}}
          <small>FoodEmperors</small>
        </h1>
        <ol class="breadcrumb">
          <li style="cursor:pointer" ng-click="ctrl.go('Home')"><a><i class="fa fa-dashboard"></i> Home</a></li>
          <li ng-if="ctrl.state.current.parent!='site'" class="active">{{ctrl.state.current.parent}}</li>
          <li ng-if="ctrl.state.current.name!=='Home'" class="active">{{ctrl.state.current.name}}</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <!-- Small boxes (Stat box) -->

        <!-- /.row (main row) -->
        <div ui-view="page" >
        </div>


      </section>
      <!-- /.content -->
    </div>
    <footer class="main-footer">
      Developed by <strong>M. Calzetta, S.Grippo, M.D. Ionita, C. La Riccia, O.Morga.</strong>
    </footer>

    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button);
  </script>



  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    ! function (A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    } (window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>


  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-flot/angular-flot.js"></script>
  <script src="bower_components/angular-paging/dist/paging.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/eve-raphael/eve.js"></script>
  <script src="bower_components/raphael/raphael.min.js"></script>
  <script src="bower_components/mocha/mocha.js"></script>
  <script src="bower_components/morris.js/morris.js"></script>
  <script src="bower_components/angular-morris/build/module/angular-morris/angular-morris.min.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <!-- include: "type": "js", "files": ["scripts/modules/*.js"] -->
  <script src="/scripts/modules/app.js"></script>
  <script src="/scripts/modules/route.js"></script>
  <!-- /include -->
  <!-- endbuild -->
  <!-- build:js({.tmp,app}) scripts/services.js -->
  <!-- include: "type": "js", "files": ["scripts/services/*.js"] -->
  <script src="/scripts/services/hostFactory.js"></script>
  <script src="/scripts/services/hostCentralFactory.js"></script>
  <script src="/scripts/services/userFactory.js"></script>
  <!-- /include -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/filters.js -->
  <!-- include: "type": "js", "files": ["scripts/filters/*.js"] -->
  <script src="/scripts/filters/searchProductFilter.js"></script>

  <!-- /include -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/controllers.js -->
  <!-- include: "type": "js", "files": ["scripts/controllers/*.js"] -->
  <script src="/scripts/controllers/mainController.js"></script>
  <script src="/scripts/controllers/navbarController.js"></script>
  <script src="/scripts/controllers/userController.js"></script>
  <script src="/scripts/controllers/catalogController.js"></script>
  <script src="/scripts/controllers/processingOrderController.js"></script>
  <script src="/scripts/controllers/commissionController.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>


  <!-- /include -->
  <!-- endbuild -->
</body>

</html>
