<div class="row">

    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Modifica Credenziali</h3>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <label for="newPwd">Nuova password</label>
                    <input type="password" class="form-control" id="newPwd" placeholder="Inserire la nuova password..." ng-model="ctrl.newPassword">
                </div>
                <div class="form-group">
                    <label for="confPwd">Conferma password</label>
                    <input type="password" class="form-control" id="confPwd" placeholder="Confermare la password..." ng-model="ctrl.confirmPassword">
                </div>

                <div class="callout callout-danger" ng-if="ctrl.invalidCredential">
                    <h4><i class="icon fa fa-warning"></i> Attenzione!</h4>
                    Username o password invalidi
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-primary pull-left" ng-click="ctrl.modify()">
                    Modifica
                </button>
                <button class="btn btn-primary pull-right" ng-click="ctrl.reset()">
                    Reset
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <!-- Profile Image -->

        <!-- /.box -->

      <div class="box box-primary">
          <div class="box-header with-border">
              <h3 class="box-title">About Me</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Titoli di studio</strong>

              <br>

              <p class="text-muted" ng-repeat="qualification in ctrl.user.qualifications">
                  {{qualification}}
                  <i class="fa fa-minus-circle margin-r-5" ng-click="ctrl.deleteQualification(qualification)"></i>
              </p>

              <input type="text" id="nuovoTitolo" size="60" placeholder="Inserire un nuovo titolo..." ng-model="ctrl.newQualification">

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted">{{ctrl.user.location}}</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Competenze</strong>

              <br>

              <div id="item{{skill}}" ng-repeat="skill in ctrl.user.skills" class="label label-success" ng-style="{'margin-right': '5px'}" custom-draggable>
                      {{skill}}
              </div>

              <i class="fa fa-plus-circle margin-r-5" ng-click=""></i>


              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Note</strong>

              <br>

              <textarea rows="4" cols="60" name="note" ng-model="ctrl.user.note">{{ctrl.user.note}}</textarea>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button class="btn btn-primary pull-left" ng-click="ctrl.modifyAboutMe()">
              Modifica
            </button>
          </div>
      </div>
    </div>
      <!-- /.box -->
</div>
