<div class="row" >
  <div class ="col-lg-10 col-lg-offset-1 col-md-offset-1 col-md-10">
  <h2>Benvenuti da Food Emperors</h2><br>
  <p align="justify"> Questo è la società che si occupa di gestire articoli verso alcuni punti vendita.<br><br>
  <b>Food Emperors</b> è composta principalmente da alcune parti:
  <ul>
    <li><p align="justify"><b>Magazzino:</b> Può essere centrale o periferico, il compito principale è quello di poter visualizzare chi ci lavora e i prodotti che sono in giacenza. </p></li>
    <li><p align="justify"><b>Analisi dei dati:</b> Verso questa società vengono inviati dei dati utili all'analisi del mercato e dell'andamento business di Food Emperors.</p></li>
    <li><p align="justify"><b>Mercato estero:</b> Vengono stipulati dei contratti con fornitori esterni, i quali forniscono articoli e prodotti al mercato centrale.</p></li>
  </ul>
  </p>
  </div>
</div>
