<div class="row">


    <div class="col-md-6">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-blue">
                <div class="widget-user-image">
                    <img class="img-circle" src="images/avatar.png" alt="Foto da inserire">
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">{{ctrl.user.name}} {{ctrl.user.surname}}</h3>
                <h5 class="widget-user-desc">{{ctrl.user.role}}</h5>
            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a href="#">Magazzino in gestione <span class="pull-right badge bg-blue">Centrale</span></a></li>
                    <li><a href="#">Compiti <span class="pull-right badge bg-aqua">Risolvere Bolle</span></a></li>
                    <li><a href="#">Ordini completati <span class="pull-right badge bg-green">12</span></a></li>
                    <li><a href="#">Magazzinieri gestiti <span class="pull-right badge bg-red">20</span></a></li>
                </ul>
            </div>
        </div>
        <!-- /.widget-user -->
    </div>

    <div class="col-md-6">

        <!-- Profile Image -->

        <!-- /.box -->

        <!-- About Me Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i> Titoli di studio</strong>

                <p class="text-muted" ng-repeat="qualification in ctrl.user.qualifications">
                    {{qualification}}
                </p>

                <hr>

                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                <p class="text-muted">{{ctrl.user.location}}</p>

                <hr>

                <strong><i class="fa fa-pencil margin-r-5"></i> Competenze</strong>

                <p>
                  <span ng-repeat="skill in ctrl.user.skills" class="label label-success" ng-style="{'margin-right': '5px'}">
                    {{skill}}
                  </span>
                </p>


                <hr>

                <strong><i class="fa fa-file-text-o margin-r-5"></i> Note</strong>

                <p>
                  {{ctrl.user.note}}
                </p>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>




</div>
